//Button
.infoPopup {
    position: absolute;
    right: 20px;
    top: 50px;
}

header {
    margin-top: 60px;
}

select {
    background-color: #FFF;
    border-radius: 3px;
    border: 2px solid lightgrey;
    height: 40px;
    margin-top: 20px;
}