//Button
.infoPopup {
    position: absolute;
    right: 0px;
    top: -30px; 
    background-color: #FFF;
    border: none;

    @include devices(laptop) {
            top: 0;
        }
}

.fa-solid {
    @include fontSize(30);

    @include devices(tablet) {
        @include fontSize(45);
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 280px;
    border-radius: 3px;
    border: 2px solid lightgrey;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    visibility: hidden;
    transition: 0.2s;

    @include devices(tablet) {
        width: 330px;
    }

    @include devices(desktop) {
        width: 400px;
        height: 220px;
    }
}

.openModal {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.closeButton {
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}