ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

    @include devices(tablet) {
        justify-content: space-evenly;
    }

}

li {
    display: flex;
    flex-direction: column;
    border: solid $tertiary 2px;
    margin: 10px 0;
    position: relative;
    height: 230px;
    width: 220px;
    background-color: $quaternary;


    @include devices(tablet) {
        min-width: 30%;
        max-width: 40%;
    }

    @include devices(laptop) {
        min-width: 15%;
        max-width: 30%;
        height: 230px;
        
    }

    @include devices(desktop) {
        min-width: 24%;
        max-width: 32%;
        height: 290px;
        
    }
}

img {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: top;

    @include devices(laptop) {
        height: 64%;
    }

    @include devices(desktop) {
        height: 72%;
    }

}

h2 {
    text-align: center;
    padding: 0 6px;
    
}

// Form 
div {
    position: relative;
}

header {
    margin-top: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    background-color: $quaternary;
    border-radius: 3px;
    border: 2px solid $tertiary;
    height: 40px;
    margin-top: 20px;
}

.pages {
  border: none;
  height: auto;
  min-width: 0px;
  max-width: 30px;
  background-color: $senary;
}

.pageNums {
  min-width: 30px;
  min-height: 30px;
  background-color: $quaternary;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  padding: 3px 0;
}

.currentPage {
  color: $primary;
  background-color: $secondary;
}