// for global styles - rules that will be applied to the whole page

body {
  background-color: #fcd5ee;
}

h1,
form,
footer {
  text-align: center;
}

button,
select {
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: $secondary;
  color: $quaternary;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}