// used http://colorsafe.co/ to pick an accessible colour theme

$primary: rgb(252, 213, 238);
$secondary: rgb(0, 42, 0);
$tertiary: rgb(54, 69, 79);
$quaternary: rgb(255, 255, 255);
$quinary: rgba(54, 69, 79, 0.8);
$baseFont: 'century gothic', 'Avant Garde', Helvetica, Arial, sans-serif;
$secondaryFont: 'Courier New', Courier, monospace;