$primary: #fcd5ee;
$secondary: #002a00;
$tertiary: #36454f;
$quaternary: #fff;
$baseFont: 'century gothic', 'Avant Garde', Helvetica, Arial, sans-serif;
$secondaryFont: 'Courier New', Courier, monospace;