html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
}

@media (min-width: 481px) {
  h1 {
    font-size: 55px;
    font-size: 2.75rem;
  }
}

@media (min-width: 320px) {
  label {
    font-size: 25px;
    font-size: 1.25rem;
  }
}
@media (min-width: 481px) {
  label {
    font-size: 30px;
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) {
  select,
p {
    font-size: 25px;
    font-size: 1.25rem;
  }
}

@media (min-width: 769px) {
  p {
    font-size: 25px;
    font-size: 1.25rem;
  }
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1,
form,
footer {
  text-align: center;
}

.infoPopup {
  position: absolute;
  right: 0px;
  top: -30px;
  background-color: #FFF;
  border: none;
}
@media (min-width: 769px) {
  .infoPopup {
    top: 0;
  }
}

.fa-solid {
  font-size: 30px;
  font-size: 1.5rem;
}
@media (min-width: 481px) {
  .fa-solid {
    font-size: 45px;
    font-size: 2.25rem;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 280px;
  border-radius: 3px;
  border: 2px solid lightgrey;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  padding: 10px;
  background-color: #fff;
  z-index: 10;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (min-width: 481px) {
  .modal {
    width: 330px;
  }
}
@media (min-width: 1025px) {
  .modal {
    width: 400px;
    height: 220px;
  }
}

.openModal {
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.closeButton {
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 481px) {
  ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid grey 2px;
  margin: 10px 0;
  position: relative;
  height: 230px;
  width: 220px;
}
@media (min-width: 481px) {
  li {
    min-width: 30%;
    max-width: 40%;
  }
}
@media (min-width: 769px) {
  li {
    min-width: 15%;
    max-width: 30%;
    height: 230px;
  }
}
@media (min-width: 1025px) {
  li {
    min-width: 24%;
    max-width: 32%;
    height: 290px;
  }
}

img {
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (min-width: 769px) {
  img {
    height: 64%;
  }
}
@media (min-width: 1025px) {
  img {
    height: 72%;
  }
}

h2 {
  text-align: center;
  padding: 0 6px;
}

div {
  position: relative;
}

header {
  margin-top: 60px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

select {
  background-color: #FFF;
  border-radius: 3px;
  border: 2px solid lightgrey;
  height: 40px;
  margin-top: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}